<div class="jumbotron">
  <h1 class="text-center">Pet Store</h1>
</div>

<div class="row">
    <ul ng-repeat="pet in pets" class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="row">
                    <h2 class="col-md-4 col-md-offset-4 text-center">{{ pet.name }}</h2>
                    <img class="col-md-4 col-md-offset-4 img-circle" ng-src="{{ pet.image }}">
                </div>
                <div class="row col-md-offset-1 col-md-10">
                    <b>About: </b>
                    <p>{{ pet.history }}</p>
                    <comments></comments>
                </div>
            </div>
        </li>
    </ul>
</div>
